*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 6px rgba(1, 1, 1, .05);
    position:sticky;
    background: white;
    width: 1500px;
    margin: 0 auto;
}
.menu{
    margin-right: 50px;
}
.logo{
    margin-left: 50px;
}
.hero{
    display: flex;
    align-items: center;
    width: 1500px;
    justify-content: space-between;
}
.hero-image{
    margin-top: 60px;
    margin-left: 70px;
}
.discount{
    padding: 5px;
    background-color: #2ca84d;
    color: white;
    text-align: center;
    border-radius: 3px;
    border: .5px;
}
.text h1{
    font-size: 80px;
    font-weight: 600;
}
.text{
    margin-right: 30px;
    gap: 10px;
}
.text p{
    font-size: 28px;
    font-weight: 400;
}
.hero-button button{
    background-color:#e8a106;
    font-weight: 600;
    padding: 10px 10px;
    border: .5px;
    margin-top: 35px;
    font-size:20px;
    border-radius: 3px;
    text-align: center;
}
.cards{
    margin-top: 100px;
    width: 1500px;
    height:100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.discount-offer,.fresh,.fast{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    transition:0.2s ease-in-out;
}
.discount-offer{
    margin-left: 50px;
}
.fast{
    margin-right: 50px;
}
h3{
    font-size: 28px;
}
.cards p{
    font-size: 20px;
}
.fresh:hover{
    transition: 0.2s ease in out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, .05);
}
.fast:hover{
    transition: 0.2s ease in out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, .05);
}
.discount-offer:hover{
    transition: 0.2s ease in out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, .05);
}
.divider{
    border: 1px solid #ccc;
    margin: 20px 0px;
}
.hero-menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0px;
    align-items: center;
}
.hero-menu .menu-button{
    align-self: center;
}
.menu-button button{
    font-size: 18px;
    font-weight: 400;
    background-color: #2ca84d;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}
.grid-images{
    display: grid;
    gap: 10px;
    grid-template-areas:"I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7" ;
}
.grid{
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    height: 100%;
    width: 100%;
}
.grid:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
.footer{
    background-color: #fff0db;
}
.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 1500px;
    padding: 30px;
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list h3{
    margin-bottom: 10px;
    color:solid gray;
}
.news-letter h3{
    color:solid gray;
    margin-bottom: 10px;
}

ul li{
list-style-type: none;
}